<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Inconsolata" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92765442-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-92765442-1');
    </script> 
    <title>{{title}}</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{styles}}}
  </head>

  <body>
    <div id="root">{{{app}}}</div>
    <script src='/bundle.js' ></script>
  </body>
</html>
